<div class="header">
    <app-search-input [placeholder]="'Search templates, skills...'"/>

    <div class="user-stats">
        <div class="stats-container">
            <mat-icon>notifications_none</mat-icon>            
        </div>
        <div class="user-space">
            <div class="user-pic">
                <mat-icon>person_outline</mat-icon>            
            </div>
            <div class="user-info">
                <p class="username">Andrés Ocampo</p>
                <p class="user-tier">Premium plan</p>
            </div>
        </div>
    </div>    
</div>
