.header{
    display: flex;
    align-items: center;
    width: 100%;    
    position: sticky;
    background: #1e293b;
    border-bottom: solid 1px #334155;
    color: white;
    padding: 1rem;
    justify-content: space-between;
}

.user-stats{
    display: flex;
    align-items: center;    
}

.stats-container{
    display: flex;
    color: #CBD5E1;
    padding-right: 0.5rem;    
}

.user-space{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding-left: .5rem;
    border-left: solid 1px #94a3b8;
}

.user-pic{
    display: flex;
    padding: 0.3rem;
    background: #1e3a8a;
    border-radius: 2rem;
    color: #60a5fa;
}

.username{
    color: #E2E8F0;
    font-size: 14px;
    font-weight: 500;
}

.user-tier{
    font-size: 12px;
    color: #94a3b8;
}
