.create-cv {
    width: 100%;
    padding: 1rem 0;
    display: flex;        
    flex-wrap: wrap;
    gap: 1rem;
}

.cv-prompter{
    display: flex;
    gap: 1rem;      
    min-width: 300px;    
    flex-direction: column;
    max-width: none;
    flex: 1; 
}

.current-cv{
    color: #fff;
    flex: 1;
}

.job-prompt{
    max-width: 600px;
    width: 100%;
    resize: none;
    height: 400px;
    background: #1e293b;
    border: none;
    padding: 1rem;
    border-radius: 0.5rem;
    color: #fff;
    caret-color: #fff;        
}

.generate {
    width: fit-content;
    position: relative;
    overflow: visible;
    background: #3454d1;
    color: white;
    border: none;
    padding: 0.5rem;
    border-radius: 0.5rem;
    font-size: 1rem;
    cursor: pointer;
    z-index: 1;

    .shine {
        position: absolute;
        width: 14px;
        height: 14px;
        pointer-events: none;
        opacity: 0;
        background: none;
        z-index: 3;
        clip-path: polygon(50% 0%, 58% 38%, 100% 50%, 58% 62%,
                50% 100%, 42% 62%, 0% 50%, 42% 38%);
        background: white;
        transform: scale(0.7) rotate(0deg);
        transition: opacity 0.2s, transform 0.5s, background 0.5s;
    }

    .star1 {
        top: -7px;
        left: -7px;
        transform: scale(0.7) rotate(0deg);
        background: linear-gradient(135deg, #fff 60%, #a5b4fc 100%);
    }

    .star2 {
        top: -7px;
        right: -7px;
        transform: scale(0.7) rotate(0deg);
        background: linear-gradient(135deg, #fff 60%, #fbc2eb 100%);
    }

    .star3 {
        bottom: -7px;
        left: 50%;
        transform: translateX(-50%) scale(0.7) rotate(0deg);
        background: linear-gradient(135deg, #fff 60%, #fef9c3 100%);
    }

    &:hover .star1 {
        background: linear-gradient(135deg, #fff 0%, #a5b4fc 100%);
    }

    &:hover .star2 {
        background: linear-gradient(135deg, #fff 0%, #fbc2eb 100%);
    }

    &:hover .star3 {
        background: linear-gradient(135deg, #fff 0%, #fef9c3 100%);
    }

    &:hover .shine {
        opacity: 1;
        animation: shine-anim 0.8s cubic-bezier(.4, 2.3, .3, 1) forwards;
    }

    @keyframes shine-anim {
        0% {
            transform: scale(0.7) rotate(0deg);
            opacity: 0;
        }

        30% {
            opacity: 1;
        }

        60% {
            transform: scale(1.2) rotate(20deg);
            opacity: 1;
        }

        100% {
            transform: scale(0.8) rotate(0deg);
            opacity: 0;
        }
    }
}
