<section class="create-cv">
  <div class="cv-prompter">
    <textarea
      class="job-prompt"
      name="job prompt"
      id=""
      placeholder="What do they ask for in your new job?"
      [formControl]="jobPromptCtl"
    ></textarea>

    <button class="generate" (click)="generateCV()">
      Generate CV
      <span class="shine star1"></span>
      <span class="shine star2"></span>
      <span class="shine star3"></span>
    </button>
  </div>

  @defer(when loading() !== 'idle'){
    @if(loading() === 'done'){
      <app-cv-preview/>
    }@else {
      <app-load-cvskeleton/>
    }        
  }@placeholder {
    <app-cv-placeholder/>
  }  
  
</section>
