.cv-templates{
    padding: 1.5rem;
}

.heading-content{
    padding-bottom: 1rem;
}

.title{
    color: white;
    font-size: 1.5rem;
    font-weight: 400;    
}
.subtitle{
    color: #94A3B8;
    font-size: 0.9rem;
}

.filters{
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
}

.templates-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding-top: 1rem;    
}

.cv-creator{
    padding: 1rem 0;
}