<section class="cv-templates">  
  <div class="heading-content">
    <h1 class="title">CV Templates</h1>
    <p class="subtitle">
      Choose a template that matches your style and industry
    </p>
  </div>
  <div class="filters">
    @for(tag of tags(); track tag){        
        <app-filter-btn [label]="tag" [onClick]="handleFilterChange" [isActive]="currentFilter() === tag"/>                    
    }
  </div>
  <div class="templates-container">
    @if(filteredTemplates().length > 0){
      @for(template of filteredTemplates(); track template) {
        <app-template-preview [rating]="5" [title]="template.name" [description]="template.description" [onClick]="setCurrentTemplate"/>    
      }    
    }@else {
      <p>Nothing here</p>
    }
  </div>
  <div class="cv-creator">
    {{currentTemplate()}}
    <h2 class="title">Create CV</h2>
    <p class="subtitle">Once you have a template selected, it's time to create.</p>
    <app-create-cv/>    
  </div>
</section>
