@let user = currentUser();

<section class="main-dashboard">
  <p class="title">Dashboard</p>
  <div class="subtitle">Welcome back, {{user?.givenName}}. Your CV is getting noticed!</div>
  <div class="insights">
    <div class="profile-strength">
      <app-strength [progress]="80" />
    </div>
    <div class="cv-views">
      <app-views />
    </div>
    <div class="downloads">
      <app-downloads />
    </div>
    <div class="job-matches">
      <app-matches-view />
    </div>
  </div>

  <div class="main-container">
    <div class="job-container">
      <div class="job-section">
        <div class="active-cv">
          <app-active-cv />
        </div>
        <div class="recent-activity">
          <app-recent-activity />
        </div>
      </div>
      <div class="matches-section">
        <div class="top-job-matches">
          <app-top-matches />
        </div>
        <div class="skills-breakdown">Skills Breakdown</div>
      </div>
    </div>    
  </div>
</section>
