.main-dashboard {
    color: white;
    padding: 1.5rem;            
}

.title {
    font-size: 1.5rem;
}

.subtitle {
    color: #94a3b8;
    font-size: 0.9rem;
}

.insights{
    width: 100%;
    display: flex;
    gap: 1rem;
    padding: 1rem 0;
    flex-wrap: wrap;
}

.profile-strength, .cv-views, .downloads, .job-matches{
    flex: 1 1 200px; 
    max-width: 300px;
}

.active-cv {         
    max-width: 500px; 
    min-width: 300px;    
    height: fit-content;
    transition: width 0.3s ease-in-out;
}

.top-job-matches {
    flex: 1 1 550px;    
    max-width: 755px;   
    height: 620px;     
}

.recent-activity {        
    flex: 1;
    height: 100%;
}

.skills-breakdown {    
    background-color: #bae6fd;
    max-width: 755px;   
}

.main-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1rem;
}

.job-container {
    width: 100%;
    display: flex;        
    margin: 0;
    gap: 1rem;          
    flex-wrap: wrap;
}

.job-section{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.matches-section{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex: 1;
}