.activity-card{
    display: flex;
    align-items: center;
    width: 100%;
    gap: 1rem;
    padding: 0.5rem 1rem;
    border-bottom: solid 1px #334155; 
}

.icon-container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.2rem;
    border-radius: 10rem;
    color: #60a5fa;
    background: #1e305a;
}


.title{
    font-size: 0.9rem;
    font-weight: 500;
}

.description{
    font-size: 0.8rem;
    color: #94a3b8;    
}

.timestamp{
    font-size: 0.7rem;   
    color: #64748b; 
}